:root {
  --bg-color: #ffe6e6;
  --sub-bg: #f2d1d1;
  --main-text: #333;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  background-color: #ffe6e6;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}
