@import url(reset.css);

#main-header {
  width: 100vw;
  height: 90px;
  border-bottom: 1px solid #95c073;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: right;
  /* background-color: var(--main-color); */
  z-index: 999;
}

#main-header a {
  color: var(--sub-text);
  font-weight: 700;
  font-size: 25px;
  padding: 5px;
  margin-right: 50px;
}

.container {
  outline: 1px solid #000;
  width: 100%;
  margin-bottom: 60px;
}

#main-title {
  /* background: #333; */
  padding-top: 90px;
}

#main-title .container > .bg-title {
  color: #daeccc;
  font-size: 250px;
  font-weight: 700;
  line-height: 280px;
  padding-top: 187px;
  padding-bottom: 187px;
  padding-left: 751px;
  padding-right: 226px;
}
#main-title .container > .title {
  color: var(--sub-text);
  font-weight: 400;
  font-size: 80px;
}

#profile .container {
  display: flex;
  flex-direction: row;
}
#profile .information {
  color: var(--text-color);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-top: 253px;
  padding-left: 240px;
}
#profile .information > img {
  width: 400px;
  margin-bottom: 25px;
}

#profile ul {
  padding-top: 136px;
  padding-left: 250px;
}

#profile ul > .title {
  font-weight: 700;
  font-size: 25px;
  background-color: #b0d98f;
  padding: 10px;
  width: 30%;
}

#profile ul .contents {
  font-size: 20px;
  font-weight: 400;
  padding-top: 20px;
  padding-left: 30px;
  margin-bottom: 50px;
}
#profile ul .contents li {
  padding-bottom: 15px;
}
#profile ul .contents .bold {
  font-weight: 700;
}

#profile ul .skills {
  display: flex;
  flex-direction: row;
  text-align: center;
}
#profile ul .skills div {
  width: 100px;
  height: 100px;
  background-color: #b0d98f;
  margin-right: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#profile ul .skills img {
  /* width: 60px; */
  height: 60px;
}
