@import url(reset.css);

@font-face {
  font-family: "s-core Dream";
  src: url(../font-face/SCDream4.otf);
}

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  outline: 1px solid red;
  position: relative;
}

#main-header {
  width: 100vw;
  height: 90px;
  border-bottom: 1px solid #f2d1d1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: right;
  /* background-color: var(--bg-color); */
  z-index: 999;
}

#main-header a {
  color: #427185;
  font-weight: 700;
  font-size: 30px;
  padding: 5px;
  margin-right: 50px;
}

#main-title {
  padding: 30px;
}

#main-title .bg-title {
  color: #f2d1d1;
  font-size: 350px;
  font-weight: 700;
  line-height: 400px;
  padding-left: 566px;
  padding-top: 110px;
  padding-bottom: 110px;
  /* outline: 3px dotted #333; */
  animation: bg-title 1s 0.1s forwards;
  opacity: 0;
  display: flex;
  justify-content: end;
}
@keyframes bg-title {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
  }
}

#main-title .container > .title {
  color: #427185;
  font-weight: 400;
  font-size: 100px;
  position: absolute;
  padding-left: 172px;
  top: 450px;
}

#profile {
  padding: 30px;
}
#profile > .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#profile > .container h1 {
  color: #d3a2a2;
  font-size: 300px;
  font-weight: 700;
  line-height: 410px;
  animation: profile-t 1s 0.1s forwards;
  opacity: 0;
  position: absolute;
}
@keyframes profile-t {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
  }
}

#profile .privacy img {
  width: 400px;
  margin-bottom: 25px;
  animation: photo 3s 0.1s ease-out forwards;
}
@keyframes photo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#profile .privacy {
  padding-top: 380px;
  padding-left: 270px;
  padding-bottom: 87px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-items: center;
}
#profile .privacy > p {
  margin-bottom: 10px;
  margin-left: 40px;
  color: #333;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  width: 319px;
}

#profile ._info {
  padding-top: 100px;
  padding-bottom: 128px;
}

#profile .info-T {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  border-left: 2px solid #333;
  margin-bottom: 70px;
}

#profile .info-T .info-bg {
  padding: 10px 15px 10px 15px;
  background-color: #daeaf1;
  width: 30%;
  color: #092e3f;
}
#profile .info-T .contents {
  font-weight: 400;
  font-size: 25px;
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;
}

#profile .info-T .contents > li {
  margin-bottom: 15px;
  color: var(--main-text);
}
#profile .info-T .contents > .bold {
  font-weight: 700;
}

#profile .info-T .skills {
  display: flex;
  text-align: center;
}
#profile .info-T .skills > li {
  font-size: 20px;
  font-weight: 500;
}
#profile .info-T .skills > li > div {
  width: 100px;
  height: 100px;
  background-color: #daeaf1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 10px;
}
#profile .info-T .skills > li > div > img {
  height: 60px;
}

#chapter {
  padding: 30px;
}
#chapter > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

#chapter h1 {
  color: #d3a2a2;
  font-size: 300px;
  font-weight: 700;
  line-height: 410px;
  animation: chapter-t 1s 0.1s forwards;
  opacity: 0;
}
@keyframes chapter-t {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
  }
}

#chapter img {
  padding-top: 145px;
  padding-left: 522px;
  padding-bottom: 430px;
}

#chapter .chapter-title {
  position: absolute;
  right: 30px;
  bottom: 88px;
}
#chapter .chapter-title li {
  text-align: right;
  margin-bottom: 40px;
}
#chapter .chapter-title a {
  color: var(--main-text);
  font-size: 40px;
  font-weight: 500;
  text-align: right;
}

#portfolio {
  padding: 30px;
}
#portfolio .container {
  margin-bottom: 60px;
}

#portfolio .PF-info {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
  gap: 82px;
  padding-top: 50px;
  padding-left: 50px;
}
#portfolio .PF-info span {
  font-size: 15px;
  font-weight: 600;
}
#portfolio .PF-info p {
  font-size: 20px;
  font-weight: 400;
}

#portfolio > .container {
  position: relative;
}
#portfolio .explanation {
  margin-top: 114px;
  margin-left: 100px;
}
#portfolio .explanation > h1 {
  font-size: 130px;
  font-style: italic;
  font-weight: 600;
  color: #d3a2a2;
  margin-bottom: 15px;
}
#portfolio .container:nth-child(4) > .explanation > h1 {
  font-size: 120px;
}

#portfolio .explanation > p {
  font-family: "s-core dream";
  font-size: 30px;
  width: 40%;
  text-align: justify;
  margin-left: 30px;
  color: #333;
}

.main-style {
  margin-top: 74px;
  margin-left: 176px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: row;
}

.main-style .style {
  margin-right: 60px;
}

.main-style h1 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 50px;
  color: #333;
}
.main-style .color-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 6px;
}
.main-style .hue {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}
.main-style .hue > p {
  font-weight: 400;
  font-size: 12px;
}
.main-style .hue .color01 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #08107b;
  margin-bottom: 10px;
}

.main-style .hue .color02 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e8af1e;
  margin-bottom: 10px;
}
.style > img {
  width: 25%;
}

#portfolio .preview img {
  width: 35%;
  position: absolute;
  top: 150px;
  right: 148px;
}

#go-github {
  width: 185px;
  border-radius: 50px;
  background-color: var(--bg-color);
  padding-top: 15px;
  padding-bottom: 15px;
  border-color: #333;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 8%;
  right: 21%;
}
#go-github img {
  margin-left: 13px;
}
